{% load staticfiles %}

<html>
    <head>
        <title>Cardiff Uni Dating</title>
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat|Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    </head>

    <body>
    	<div id=header class="page-header">
            {% if user.is_authenticated %}
        	    <h1 id=logo><a href="/users">Cardiff Uni Dating</a></h1>
            {% else %}
                <h1 id=logo><a href="/">Cardiff Uni Dating</a></h1>
            {% endif %}
        </div>
        <div id=options>
            {% if user.is_authenticated %}
                <h4><a href="/update_profile">Update Profile</a> | <a href="/signout">Sign Out</a></h4>
            {% endif %}
            
    	</div>
    	<div class="content container">
        	<div class="row">
            	<div class="col-md-8">
            	{% block content %}
            	{% endblock %}
            	</div>
        	</div>
    	</div>
	</body>